@import "src/styles/variables";

.content {
  padding: 5px 0px 5px 0px;
}

.text {
  display: flex;
  justify-content: left;
  font-weight: 500
}

.bar {
  background-color: $gray;
  border-radius: 2px;
  padding: 0;
}

.timer {
  border-radius: 2px;
  position: relative;
  background-color: $blue;
  height: 0.25em;
}